<!DOCTYPE html>
<html>
  <head>
    <title>OmniApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
   </head>

  <body>
    

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <h1><%=link_to root_path do =%>Omni<% end %></h1>
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
      <% if current_user %>
      	<li>Signed in as: <%= current_user.name %> - <%= image_tag(@auth['info']['image']) %></li>
      	<li><%= link_to "sign out", 'sign_out', method: :delete %></li>
      <% else %>
		<li><%=link_to "auth/facebook" do %><%= image_tag('facebook.png') %><% end %></li>
      <% end %>
      </ul>
    </div>
  </div>
</nav>

<% flash.each do |key,value| %>
  <div class = "alert  alert-info"><%= value %></div>
 <% end %>
   <% if current_user %>
  <div class = "text-center">
    <h1>Welcome , <%= current_user.name %><h1>
    <h4>Logged in with -> <strong><em> <%= @auth['provider'].capitalize %></em></strong></h4>
    <%= image_tag('logo.png') %>
  </div>
<% end %>

<div class="container">
  <h3>Collapsible Navbar</h3>
  <p>In this example, the navigation bar is hidden on small screens and replaced by a button in the top right corner (try to re-size this window).
  <p>Only when the button is clicked, the navigation bar will be displayed.</p>
</div>

  </body>
</html>
